.custom-tab-bar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	display: flex;
	height: 40px;
}

.custom-tab-bar {
	background: rgba(255, 255, 255, 0.59);
	padding: 0px 16px;
	border-radius: 16px;
}

.custom-tab-bar button {
	margin: 0px 4px;
	background: transparent;
	border: none;
}

.custom-tab-bar img {
	height: 17px;
	width: 17px;
	cursor: pointer;
}
